<div class="content">
  <div class="info">
    <img [src]="user.photo" />
    <h3 class="title">
      {{ user.firstName }} {{ user.middleName }} {{ user.lastName }}
    </h3>
    <hr>
    <div class="row">
      <strong>Email Address:</strong>
      <p>{{ user.email }}</p>
    </div>
    <div class="row">
      <strong>Mobile Number:</strong>
      <p>{{ user.mobile }}</p>
    </div>
    <div class="row">
      <strong>National ID:</strong>
      <p>{{ user.nationalId }}</p>
    </div>
    <div class="row">
      <strong>Passport Number:</strong>
      <p>{{ user.passport }}</p>
    </div>
    <div class="row">
      <strong>Email Address:</strong>
      <p>{{ user.email }}</p>
    </div>
  </div>
</div>
