body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #2b2c2b;
}

.container-fluid-fullwidth {
  .container-fullwidth {
    .navbar {
      z-index: 1;
      .navbar-toggler {
        border: none;
      }
      .navbar-brand {
        width: 35%;
        display: flex;
        justify-content: center;
      }
      .navbar-collapse {
        &.current a {
          color: orange !important;
        }
        ul.navbar-nav {
          flex: 0.9;
          justify-content: space-between;
          margin-right: unset !important;
          .nav-item {
            .nav-link {
              color: white;
            }
          }
        }
      }
    }
    .jumbotron {
      width: 65%;
      padding: unset;
      margin: unset;
      &:nth-of-type(1) {
        height: 530px;
        background-color: #2b2c2b;
        &:after {
          content: "";
          background-color: #2b2c2b;
          position: absolute;
          right: 0;
          bottom: 0px;
          z-index: 1;
          width: 211px;
          height: 177px;
        }
      }
      &:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url(../assets/images/31213.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 540px;
        top: 0;
        right: 0;
        &::before,
        &::after {
          content: "";
          background-color: #f7941d;
          position: absolute;
          bottom: 0;
        }
        &::after {
          width: 100%;
          height: 20px;
        }
        &::before {
          content: "";
          width: 20px;
          height: 25%;
        }
      }
      &:nth-of-type(3) {
        top: 0;
        width: 100%;
        background-color: transparent;
        height: 540px;
        display: flex;
        align-items: center;
        .container {
          display: flex;
          flex-direction: column;
          color: white;
          width: 80%;
          height: 100%;
          div {
            &:first-child {
              margin: auto;
            }
          }
          h1 {
            font-weight: 300;
            font-size: 65px;
            margin-top: 110px;
            text-indent: 150px;
            &::before {
              content: "";
              width: 100px;
              background-color: #f7941d;
              left: 0px;
              height: 5px;
              position: absolute;
              top: 25%;
            }
          }
          a {
            color: white;
            font-size: 22px;
            width: fit-content;
            border-bottom: 1px solid;
            padding: 0px 0px 8px 0px;
          }
        }
      }
    }
    .info {
      margin-left: 93px;
      height: 350px;
      .images {
        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: #f7941d;
          width: 75px;
          left: 100px;
        }
        &::after {
          height: 95px;
          bottom: -95px;
        }
        &::before {
          top: 26px;
          height: 30px;
          z-index: 1;
        }
      }
      div[class^="col"] {
        height: fit-content;
        img {
          &:first-child {
            width: 200px;
          }
          &:last-of-type {
            top: 56px;
            left: 56px;
            width: 300px;
          }
        }
      }
    }
    .services {
      width: 90%;
      margin: auto;
      margin-top: 100px;
      .heading {
        left: 0;
        width: 35%;
        height: 300px;
        background-color: #2b2c2b;
        .header {
          margin-top: 70px !important;
          margin-left: 100px !important;
          color: #ffffff;
        }
      }
      .service {
        height: 200px;
        img {
          width: 40px;
          height: 40px;
        }
        span {
          white-space: pre-line;
          width: calc(100% - 25px);
          &::after {
            content: "";
            width: 20px;
            height: 15px;
            background: url(../assets/images/arrow-pointing-to-right.svg) 0 0
              no-repeat;
            top: 5px;
            right: 0px;
            position: absolute;
          }
        }
        &.dark {
          background-color: #f7941d;
          color: #ffffff;
          span {
            &::after {
              background: url(../assets/images/arrow-pointing-to-right-white.svg)
                0 0 no-repeat;
            }
          }
        }
      }
    }
    .partners {
      &.dark {
        background-color: #f5f5f5;
      }
      div[class^="col"] {
        .row {
          &:first-of-type {
            justify-content: center;
          }
          &:last-of-type {
            justify-content: space-evenly;
            align-items: center;
          }
          display: flex;
          img {
            height: 100%;
            &.small {
              width: 100px;
            }
          }
        }
      }
    }
    .ai {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #f7941d;
        right: 100px;
      }
      &::before {
        // width: 350px;
        height: 140px;
      }
      &::after {
        width: 90px;
        // bottom: -50px;
        height: 100px;
      }
      .header,
      p,
      button {
        margin-left: 85px;
      }
      p {
        width: 70%;
      }
      img {
        width: 315px;
        right: 30px;
        top: 50px;
      }
    }
    .contact {
      h4 {
        color: #f7941d;
      }
    }
    .new-letter {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../assets/images/photo-1508780709619-79562169bc64.png);
      background-size: cover;
      background-repeat: no-repeat;
      h4 {
        color: #ffffff;
      }
      .row {
        height: 90px;
        form {
          input {
            &::placeholder {
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
      }
    }
    .footer {
      background-color: #050504;
      color: #ffffff;
      font-size: 14px;
      .title {
        font-size: 17px;
      }
      .list-inline {
        .list-inline-item {
          img {
            height: 100%;
          }
        }
      }
      hr {
        border-color: #707070;
      }
    }
  }
}

.row {
  margin: unset;
}

h3.header {
  position: relative;
  text-indent: 50px;
  &::after {
    content: "";
    width: 40px;
    background-color: #f7941d;
    left: 0px;
    height: 5px;
    position: absolute;
    top: 50%;
  }
  &.center {
    &::before {
      content: "";
      width: 40px;
      background-color: #f7941d;
      right: -50px;
      height: 5px;
      position: absolute;
      top: 50%;
    }
  }
}

button {
  width: 140px;
  height: 38px;
  text-align: center;
  letter-spacing: 0;
  border-radius: 10px;
  opacity: 1;
  font-size: 14px;
  &.more {
    border: 01px solid #a1a5a1;
  }
  &.primary {
    color: #ffffff;
    background-color: #f7941d;
  }
}
.mt-100 {
  margin-top: 100px;
}

@media (min-width: 1200px) {
  .container-fluid-fullwidth {
    .container-fullwidth {
      .ai {
        &::before {
          width: 350px;
        }
        &::after {
          bottom: -50px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid-fullwidth {
    .container-fullwidth {
      .ai {
        &::before {
          width: 330px;
        }
        &::after {
          bottom: 0px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid-fullwidth {
    .container-fullwidth {
      .jumbotron {
        &:nth-of-type(1) {
          &:after {
            content: "";
            right: -120px;
          }
        }
        &:nth-of-type(3) {
          .container {
            h1 {
              &::before {
                top: 15%;
              }
            }
          }
        }
      }
      .ai {
        &::before,
        &::after {
          content: unset;
        }
      }
      .info {
        height: 600px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container-fluid-fullwidth {
    .container-fullwidth {
      .navbar {
        .navbar-toggler {
          border: none;
        }
        .navbar-collapse {
          background-color: #ffffff;
          ul.navbar-nav {
            padding: 0 10px;
            li.nav-item {
              a.nav-link {
                color: #2b2c2b;
              }
            }
          }
        }
        .navbar-brand {
          width: 30%;
        }
      }
      .jumbotron {
        &:nth-of-type(1) {
          &:after {
            content: unset;
          }
        }
        &:nth-of-type(3) {
          .container {
            h1 {
              &::before {
                top: 15%;
              }
            }
          }
        }
      }
      .services {
        .service {
          height: 130px;
        }
        .heading {
          height: 200px;
          .header {
            margin-top: unset;
            &::after {
              top: 20%;
            }
          }
        }
      }
      .info,
      .ai {
        margin-left: unset;
        button {
          width: 100%;
        }
      }
      .info {
        height: 300px;
      }
      .ai {
        p {
          width: 100%;
        }
        &::after,
        &::before {
          content: unset;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container-fluid-fullwidth {
    .container-fullwidth {
      .jumbotron {
        &:nth-of-type(1) {
          visibility: hidden;
        }
        &:nth-of-type(2) {
          width: 100%;
          height: 600px;
        }
        &:nth-of-type(3) {
          .container {
            h1 {
              text-indent: unset;
              &::before {
                content: unset;
              }
            }
          }
        }
      }
      .services {
        .heading {
          position: static !important;
          height: unset;
          width: 100%;
          margin: 0 15px;
          .header {
            margin: 20px !important;
          }
        }
      }
      .ai {
        margin-left: 0px;
        .header {
            &::after {
                top: 25%;
            }
        }
        p {
            width: 100%;
        }
        &::before,
        &::after {
          content: unset;
        }
      }
      .info {
        margin-left: 0px;
      }
    }
  }
}
